.grid-template {
	display: grid;
	grid-template-columns: 1fr;


	@media (min-width: 800px) {
		grid-template-columns: 1fr 1fr;
	}
}

p a {
	color: var(--brand);
	font-weight: 400;

	&:hover {
		text-decoration: underline;
	}
}

.bottom-fade-out {
	height: 100px;
	background: linear-gradient(180deg, var(--background), rgb(var(--brand-rgb) / 0.5));
	filter: blur(1px) opacity(0.5);
}

.brand-highlight {
	color: var(--brand);
}