@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: 'Inter',
sans-serif; */
/* :root {
	--step--2: clamp(0.70rem, calc(0.72rem + -0.02vw), 0.72rem);
	--step--1: clamp(0.86rem, calc(0.83rem + 0.15vw), 0.94rem);
	--step-0: clamp(1.03rem, calc(0.95rem + 0.42vw), 1.25rem);
	--step-1: clamp(1.24rem, calc(1.07rem + 0.83vw), 1.67rem);
	--step-2: clamp(1.49rem, calc(1.20rem + 1.42vw), 2.22rem);
	--step-3: clamp(1.78rem, calc(1.33rem + 2.27vw), 2.96rem);
	--step-4: clamp(2.14rem, calc(1.44rem + 3.49vw), 3.95rem);
	--step-5: clamp(2.57rem, calc(1.53rem + 5.19vw), 5.26rem);
} */

:root {
	font-size: 62.5%;

	--text-xs: 1.6rem;
	--text-sm: 1.8rem;
	--text-md: 2.2rem;
	--text-lg: 3.6rem;
	--text-xl: 5.6rem;
	--text-2xl: 9.6rem;
}

.roar-voice {
	font-size: var(--step-5);
	text-transform: uppercase;
	font-weight: 900;
	line-height: .9;
	letter-spacing: -.1px;
}

.loud-voice {
	font-size: var(--step-4);
	font-weight: 700;
}

.attention-voice {
	font-size: var(--step-3);
}

.chant-voice {
	font-size: var(--step-2);
}

.strict-voice {
	font-size: var(--step-1);
	font-weight: 400;
}

.calm-voice,
p,
li,
a,
button {
	font-size: var(--text-sm)
}

small,
.small-voice {
	font-size: var(--text-xs);
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}